.git
**/.env
.DS_Store
**/.antigravity

## **/airflow_settings.yaml
**/__pycache__/
**/astro
**/.venv
**/airflow-webserver.pid
**/webserver_config.py
airflow.cfg
airflow.db

**/include/data/

**/connections_list_notes.yaml
**/task_planning_ko.md
**/task_planning.md
**/web-to-api-server.md